@font-face {
  font-family: "CircularAirPro Book";
  src: url("../style/CircularAirProBook/CircularAirPro-Book.eot");
  src: url("../style/CircularAirProBook/CircularAirPro-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../style/CircularAirProBook/CircularAirPro-Book.woff") format("woff"),
    url("../style/CircularAirProBook/CircularAirPro-Book.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "CircularAirPro Book";
}
.container-fluid {
  margin-top: 60px;
}
.row {
  width: 100%;
}
.header-cta {
  font-weight: bold;
  color: black;
}
.navbar {
  color: black;
  position: fixed;
  width: 100%;
  padding-right: 10px;
  top: 0;
  z-index: 100;
}
.text-header {
  padding-left: 3rem;
  font-family: "CircularAirPro Book";
  font-weight: 900 !important;
  color: #ff5a5f !important;
  line-height: 56px !important;
  letter-spacing: 2.2px !important;
}
td,
th {
  vertical-align: middle !important;
  text-align: center !important;
}
.city,
.temp,
.precipitation,
.wind {
  font-size: 2em;
}
.input-group {
  margin: 20px 0px;
}
svg {
  height: 150px;
}

td:nth-child(2),
td:nth-child(2) > div {
  height: 100px;
  width: 100px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
